.alert-wrapper{
    text-align: center;
}
.alert-head{
    text-align: inherit;
    font-weight: 200;
}

.alert-title{
    font-size: 40px;
    color: var(--ion-color-dark);
    font-weight: bold;
}

.alert-button-group{
    justify-content: center;
}