<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/home"></ion-back-button>
    <ion-title>Course Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-grid *ngIf="history">
    <ion-row>
      <ion-col size="12"  size-sm="6" offset-sm="3" padding>
        <div class="flex cgpaDiv">
          <div>
            <ion-label>CGPA</ion-label>
          </div>
          <div id="gradebox">
            <p> {{ history.cgpa }} </p>
          </div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
  <div class="infoBg"  *ngIf="history">
    <ion-row>
      <ion-col class="flex" size="12" size-sm="6" offset-sm="3">
        <ion-label> SESSION </ion-label>
        <ion-text> {{ history.session }}</ion-text>
      </ion-col>
      <ion-col class="flex" size="12" size-sm="6" offset-sm="3">
        <ion-label> SEMESTER </ion-label>
        <ion-text> {{ history.semester }}</ion-text>
      </ion-col>
      <ion-col class="flex" size="12" size-sm="6" offset-sm="3">
        <ion-label> TOTAL UNITS </ion-label>
        <ion-text> {{ history.totalUnit }}</ion-text>
      </ion-col>
      <ion-col class="flex" size="12" size-sm="6" offset-sm="3">
        <ion-label> TOTAL COURSES </ion-label>
        <ion-text> {{ history.courses.length }}</ion-text>
      </ion-col>
      <ion-col class="flex" size="12" size-sm="6" offset-sm="3">
        <ion-label> TOTAL POINTS </ion-label>
        <ion-text> {{ history.totalPoint }}</ion-text>
      </ion-col>
    </ion-row>
  </div>

  <ion-grid  *ngIf="history">
    <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <div *ngIf="history.courses.length > 0">
              <div class="flex courseHeader">
                  <ion-label>COURSE INFO </ion-label>
                  <ion-label>UNITS</ion-label>
                  <ion-label>GRADES</ion-label>
              </div>
              <ion-grid>
                <ion-row *ngFor="let course of history.courses; let i = index" class="courses">
                  <div class="flex courseBody">
                    <ion-text> {{ course.title }}</ion-text>
                    <ion-text> {{ course.unit }}</ion-text>
                    <ion-text> {{ course.grade }} </ion-text>
                  </div>
                </ion-row>
              </ion-grid>
            </div>
          </ion-list>
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
