ion-card{
    h1{
        font-size: 24px;
    }
}

#gradeDisplay{
    margin-top: 30px;

    ion-row, ion-col, ion-grid {
        padding: 0;
    }

    ion-card-title{
        font-size: 18px;
    }
    ion-card-subtitle{
        font-size: 14px;
        color: rgb(109, 109, 109);
        font-weight: 300;
    }

    h1{
        font-size: 65px;
        margin-bottom: 0;
        padding: 0;
        color: rgb(44, 44, 44);
        letter-spacing: -2px
    }

    span{
        position: relative;
        top: -13px;
        color: rgb(109, 109, 109);
    }

    .date{
        font-size: 12px;
        font-weight: 300;
        color: rgb(48, 48, 48);
    }
}

#historyList {
    ion-list {
        margin-top: 80px;
        padding: 0 10px;

        ion-title{
            font-size: 30px;
            padding-top: 4px;
            color: rgb(105, 105, 105);
        }

        ion-col{
            padding: 0;
        }

        ion-label {
            ion-text{
                color: #777777;
            }
        }
        ion-label.label{
            margin: 5px 0;
        }

        .label, .label-sm {
            color: #a7a7a7;
        }

        .label{
            font-size: 14px;
        }

        .label-sm{
            font-size: 10px;
            text-align: right;
            margin-top: 14px;
        }

        .date{
            font-size: 10px;
            color: #676767;
            margin-top: 10px;
            font-weight: 300;
        }

    }


}